body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background: linear-gradient(135deg, #fc466b, #3f5efb); */
     background: linear-gradient(to right, rgb(61, 5, 5), rgb(126, 7, 7), rgb(110, 11, 11), rgb(126, 7, 7),rgb(126, 7, 7));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
  }
  .login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .login-container label {
    font-weight: 500;
  }
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
  }
  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .checkbox input {
    margin-right: 8px;
  }

  .abtn {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(61, 5, 5);
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
  }
  .abtn:hover {
    background-color: #ff6600;
    border-color: #ff6600;
  }
  .forgot_password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    text-decoration: underline;
  }